<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.example.sms_enricher">
  <!-- Permission to read SMS messages from the device -->
    <uses-permission android:name="android.permission.READ_SMS"/>

    <!-- Permission to receive SMS messages -->
    <!-- Note: Depending on your plugin's functionality, you might not need this if you're only reading SMS -->
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>

    <!-- Permission to access the Internet for sending data to the backend -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <application>
      <receiver android:name="com.shounakmulay.telephony.sms.IncomingSmsReceiver"
          android:permission="android.permission.BROADCAST_SMS" android:exported="true">
          <intent-filter>
        <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
          </intent-filter>
      </receiver>
    </application>
</manifest>
